/* #region page */
body {
margin: 0;
}
/* #enregion */

/* #region header */
.header {
  box-sizing: border-box;
  padding: 24px 20px 88px;
height: 100vh;
background-image: url(images/header-bg-mobile.png);
background-size: cover;
background-position: center;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__icon {
  display: flex;
  gap: 24px;
}
/* #enregion */
/* #region icon */
.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
background-image: url(images/icons/icon-phone.png);
}

.icon--menu {
  background-image: url(images/icons/icon-burger-menu.png);
}
/* #enregion */
/* #region footer */
.footer {

}
/* #enregion */