.menu {
  box-sizing: border-box; 
  height: 100vh; 
  background-color: #C2C2C2;
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
 }

.menu__top {
  margin-bottom: 24px;
 }

.menu__nav {
  margin-bottom: 40px;
 }

.menu__content {
  padding-inline: 20px;
 }

.menu__phone-number {
  display: block;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 27px;
  color: #1D1D1D;
  text-decoration: none;
 }

.menu__book-a-test-ride {
  display: block;
  width: fit-content;

  padding-bottom: 7px;
  border-bottom: 1px solid #1D1D1D;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #1D1D1D;
  text-decoration: none;
 }